@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pretendard: var(--font-pretendard);
} */


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* 다크모드 취소 */
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--font-pretendard-gov), Arial, Helvetica, sans-serif;
}

html {
  @apply h-full antialiased;
}
body {
  @apply flex flex-col min-h-full h-full bg-zinc-100;
}
.wrapper {
  @apply flex min-h-full ;
}

/* 사이드 메뉴 왼쪽 */
.sidemenu {
  @apply block sticky top-0 w-64 min-w-64 p-4 bg-white border-r border-zinc-200 overflow-y-auto;
}
.sidemenu .logo-link {
  @apply sticky -top-4 flex mb-8 -mx-4 -mt-4 border-b border-zinc-300 bg-white;
}
.sidemenu nav {
  @apply space-y-1;
}
.sidemenu nav .menu-item {
  @apply block px-2 py-1 rounded hover:bg-gray-100 text-zinc-700 cursor-pointer;
}
.sidemenu nav .menu-item.active {
  @apply bg-blue-100 hover:bg-blue-100 text-blue-900 font-semibold;
}

/* 헤더메뉴   */
/* .header-wrapper {
  @apply w-full flex flex-col items-center bg-white;
}
.header-wrapper .header-content {
  @apply flex items-center w-full h-14 px-4 bg-white border-b border-gray-300;
}
.header-wrapper .header-title {
  @apply text-lg font-semibold;
}
.header-wrapper .logout-button {
  @apply ml-auto text-sm;
} */


/* 컨테이너 영역 오른쪽 */
.container-wrapper {
  @apply flex flex-col flex-1;
}
.max-windth-container {
  @apply w-full max-w-7xl mx-auto;
}
.header {
  @apply w-full flex flex-col items-center bg-white;
}
.header .header-content {
  @apply flex items-center w-full h-14 px-4 bg-white border-b border-gray-300 ;
}
.header .header-content .page-title {
  @apply text-lg font-semibold;
}
.header .header-content .logout-button {
  @apply ml-auto text-sm cursor-pointer;
}
.main {
  @apply flex-1 p-4 md:p-6 overflow-hidden overflow-y-auto;
}
.main .contents-group {
  @apply flex flex-col flex-1 w-7xl justify-center;
}

/* 대시보드의 .dashboard-card .line-graph .rolling-banner 의 위치를 변경함 */
.dashboard-cards-container {
  @apply grid grid-cols-4 gap-4 [&>.dashboard-card]:col-span-4 [&>.line-graph]:col-span-3 [&>.rolling-banner]:row-start-3  [&>.rolling-banner]:col-start-4 [&>.rolling-banner]:row-span-2;
}

.contents-col {
  @apply flex flex-col gap-4;
}
.contents-row {
  @apply flex flex-row gap-4 items-start;
}

/* 공통카드 패널 */
.card-panel {
  @apply flex flex-col gap-2 p-6 rounded-2xl bg-white transition-all;
}
.card-header {
  @apply flex items-center -mt-2 mb-2;
}
.card-header .card-title {
  @apply flex items-center gap-2 font-bold;
}
.card-header .card-more-button {
  @apply flex items-center ml-4 text-xs text-zinc-600 font-medium cursor-pointer tracking-tight;
}
.cards-container {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4;
}


.side-card-panel {
  @apply sticky top-0 min-w-72 min-h-64 p-6 rounded-2xl bg-white transition-all;
}
.side-card-header {
  @apply flex flex-col justify-center;
}
.side-card-hr {
  @apply my-4 border-b border-zinc-300;
}
.side-card-title {
  @apply flex flex-col justify-center font-semibold;
}
.side-card-text {
  @apply text-sm font-medium text-gray-500;
}


.side-card-container {
  @apply flex flex-col gap-4 text-sm;
}
.side-card-chartbox {
  @apply w-80 h-50 flex items-center justify-center text-xs text-gray-400;
}

/* 사이드 카드 테이블 */
.side-card-table {
  @apply w-full mt-2 border-collapse border border-gray-400 bg-white text-sm;
}
.side-card-table thead th {
  @apply border border-gray-300 px-1 py-0.5 text-center font-normal bg-zinc-100;
}
.side-card-table tbody th {
  @apply border border-gray-300 px-1 py-0.5 text-center font-normal bg-zinc-100;
}
.side-card-table tbody td {
  @apply border border-gray-300 px-1 py-0.5 text-right;
}


.inner-card-panel {
  @apply flex-1 flex flex-col gap-1 border border-zinc-300 rounded-xl p-4;
}
.inner-card-header {
  @apply flex items-center gap-2 mb-1;
}
.inner-card-title {
  @apply text-sm;
}
.inner-card-more-button {
  @apply flex items-center ml-4 text-xs text-zinc-600 font-medium cursor-pointer tracking-tight;
}
.inner-card-container {
  @apply text-sm;
}
.inner-card-container dl {
  @apply flex gap-1 justify-between;
}

.inner-card-panel-active {
  @apply flex-1 flex flex-col gap-1 border-2 border-blue-500 rounded-xl p-4;
}
.store-data-container {
  @apply relative flex flex-col gap-1 p-4 border border-zinc-200 rounded-2xl last:bg-zinc-50 last:border-none;
}
.store-data-label {
  @apply text-sm font-medium tracking-tight;
}
.store-data-badge {
  @apply flex gap-1 mb-2 text-sm font-bold bg-black/5 px-3 py-1 rounded-full self-start;
}
.store-data-emphasis {
    @apply flex items-baseline gap-1 font-bold;
}
.store-data-stats {
  @apply flex gap-1 mt-2 text-sm text-zinc-600;
}
.my-label {
  @apply flex items-center text-sm font-bold mt-auto tracking-tight;
}
.main-data {
  @apply  flex items-baseline gap-1 font-bold text-blue-700;
}
.sub-data {
  @apply text-3xl tracking-tight;
}
.line-graph {
  @apply p-6 rounded-2xl bg-white transition-all;
}

/* 대시보드 롤링배너 */
.rolling-banner {
  @apply rounded-xl bg-white shadow-xs p-6 overflow-hidden;
}
.rolling-banner-header {
  @apply flex items-center gap-2 -mt-3 mb-2;
}
.rolling-banner-title {
  @apply font-bold tracking-tight;
}
.rolling-banner .more-button {
  @apply flex items-center ml-auto text-xs text-zinc-600 font-medium cursor-pointer tracking-tight;
}
.rolling-banner-container {
  @apply relative overflow-hidden;
}
.rolling-banner-list {
  @apply flex flex-col gap-4 transition-transform duration-700 ease-in-out;
}
.rolling-banner-list > li {
  @apply flex flex-col justify-center;
}
.banner-item-header {
  @apply flex items-center gap-2 mb-1;
}
.banner-item-tag {
  @apply px-1 py-0.5 rounded text-xs font-bold bg-blue-50 text-blue-700 whitespace-nowrap;
}
.banner-item-title {
  @apply font-bold text-zinc-900 truncate;
}
.banner-item-body {
  @apply text-sm text-zinc-500 leading-tight;
}

/* 로그인 */
.login-wrapper {}
.login-container {
  @apply flex flex-col items-center justify-center min-h-screen ;
}
.login-group {
  @apply w-full max-w-md p-8 bg-white rounded-lg shadow-md;
}
.login-logo-box {
  @apply flex items-center justify-center w-80 -mt-50 mb-6 mx-auto;
}
.login {
  @apply bg-white rounded-2xl p-8;
}
/* 로그인 타입 선택창 */
.login-type-selector {
  @apply flex items-center justify-center gap-6 mb-6;
}
/* 로그인 라디오버튼 */
.login-radio-group {
  @apply flex items-center ;
}
.login-radio-group > input[type="radio"] {
  @apply w-auto px-3 py-2 border border-zinc-400 rounded-md focus:outline-none;
}
.login-radio-group > label {
  @apply block pl-1 text-center font-medium text-gray-700 cursor-pointer peer-checked:text-indigo-600;
}
/* 로그인 체크박스 */
.login-checkbox-group {
  @apply flex items-center gap-2;
}
.login-checkbox-group > input[type="checkbox"] {
  @apply w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500;
}
.login-checkbox-group > label {
  @apply block text-sm text-gray-700 cursor-pointer;
}
.login-hr {
  @apply border-zinc-100;
}

/* 로그인 폼 */
.login-form {
  @apply space-y-4;
}
.form-group {
  @apply flex items-center gap-2;
}
.form-group label {
  @apply block w-13 text-sm font-medium text-gray-700 mb-1;
}
.form-group input[type="text"],
.form-group input[type="password"] {
  @apply w-auto px-3 py-2 border border-zinc-400 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500;
}
.form-group input[type="checkbox"] {
  @apply w-4 h-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500;
}
.form-button {
  @apply flex w-20 items-center justify-center px-4 py-2 bg-[#26499d] text-white rounded-md hover:bg-[#1e3a8a] cursor-pointer;
}
.form-grid {
  @apply  grid grid-cols-[1fr_auto] grid-rows-2 gap-2;
}
.form-grid .form-group:nth-child(2) {
  @apply row-start-2;
}
.form-grid .form-button {
  @apply row-span-2;
}
.login-message {
  @apply  ml-15 mt-3 text-red-500 text-sm;
}

/* 상품경쟁력분석 */
.product-container {
  @apply grid grid-cols-1 -mx-6 md:grid-cols-2 lg:grid-cols-5 divide-x divide-zinc-300;
}
.product-group {
  @apply flex-1 flex flex-col gap-1 px-6;
}
.product-header {
  @apply flex items-center gap-2 mb-1;
}
.product-body {
  @apply flex flex-col gap-2 text-sm;
}
.product-tag {
  @apply relative mr-auto px-2 py-0.5 rounded text-sm font-bold;
}
.product-emphasis {
  @apply text-3xl font-bold text-blue-800;
}
.product-link {
  @apply  mx-auto text-blue-800 underline;
}


.table-summary-container {
  @apply flex -mx-3;
}
.table-summary {
  @apply table-fixed w-full border-collapse rounded-lg bg-slate-100 text-sm;
}
.table-summary tbody td {
  @apply border-b border-zinc-200 px-1 py-2 text-blue-800 font-normal bg-slate-100;
}
.table-summary tbody td:first-child {
  @apply pl-3;
}
.table-summary tbody td:last-child {
  @apply pr-3;
}


/* 공통 데이터 테이블 */
.table-container {
  @apply min-h-100 -mx-6 border-y border-zinc-100 bg-black/1;
}
.table-data {
  @apply table-fixed w-full border-collapse bg-white text-sm overflow-hidden;
}
.table-data thead {
  @apply border-b border-zinc-200 text-white bg-[#4A5B6D];
}
.table-data tbody {
  @apply divide-y divide-zinc-100;
}
.table-data thead th {
  @apply p-2 font-normal;
}

.table-data tbody td {
  @apply p-2;
}
.table-data tbody td:last-child {
  @apply pr-6;
}

.table-data tfoot.sum td {
  @apply p-2 border-b border-zinc-200 text-blue-800 font-bold bg-slate-200;
}

/* 검색영역 */
.search-group {
  @apply flex flex-col gap-2 border-zinc-200 text-sm font-medium;
}
.search-group > div {
  @apply flex flex-wrap gap-1 items-center;
}


.search-input-text {
  @apply min-w-30 px-2 py-1 border rounded border-zinc-300 bg-white;
}
.search-btn {
  @apply px-4 py-1 bg-[#26499d] text-white rounded hover:bg-[#26499d] transition-colors cursor-pointer
}


.checkbox-group {
  @apply flex flex-wrap gap-x-2 max-w-130;
}
.checkbox-item {
  @apply flex items-center mr-2;
}
.checkbox-item input[type="checkbox"] {
  @apply cursor-pointer;
}
.checkbox-item label {
  @apply ml-1 cursor-pointer;
}

.select-item {
  @apply min-w-30 px-2 py-1 border rounded border-zinc-300 bg-white;
}


/* 레이어팝업 */
.layer-popup-wrapper {
  @apply fixed inset-0 z-50 flex items-center justify-center p-4;
}
.layer-popup-backdrop {
  @apply fixed inset-0 bg-black/50 transition-opacity;
}
.layer-popup-card {
  @apply relative bg-white rounded-xl shadow-2xl transform transition-all overflow-hidden flex flex-col;
}
.layer-popup-header {
  @apply flex items-center justify-between px-6 py-3 border-b border-gray-100;
}
.layer-popup-title {
  @apply text-lg font-bold text-gray-900;
}
.layer-popup-close {
  @apply text-gray-400 hover:text-gray-600 transition-colors p-1;
}
.layer-popup-body {
  @apply px-6 py-6 overflow-y-auto max-h-[70vh];
}